@import url('https://fonts.googleapis.com/css2?family=Inter|Itim:wght@100;400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar-container{
  background-color: #084175;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.navbar-container h1{
  font-family: 'Inter';
font-size: 22px;
font-weight: 400;
/* line-height: 39px; */
letter-spacing: 0em;
/* text-align: left; */
}
.deperssion-text{
  /* width: 754px; */
height: 114px;
flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
font-family: 'Itim';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.click-here-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.click-here-btn button{
  padding: 5px 50px;
  margin: 30px 0px;
  background-color: #084175;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  outline: none;
}

input{
  width: 300px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.85);
  outline: none;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label{
  padding-left: 5px;
}

@media (max-width: 400px) {
  .deperssion-text{
    /* width: 320px; */
  height: 114px;
  flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
  font-family: 'Itim';
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  padding: 10px;
  }
}