@import url('https://fonts.googleapis.com/css2?family=Inter|Itim:wght@100;400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar-container{
  background-color: #084175;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.navbar-container h1{
  font-family: 'Inter';
font-size: 22px;
font-weight: 400;
/* line-height: 39px; */
letter-spacing: 0em;
/* text-align: left; */
}
.deperssion-text{
  /* width: 754px; */
height: 114px;
flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
font-family: 'Itim';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.click-here-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.click-here-btn button{
  padding: 5px 50px;
  margin: 30px 0px;
  background-color: #084175;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  outline: none;
}

input{
  width: 300px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.85);
  outline: none;
  /* background-color: #084175; */
  /* color: #fff; */
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label{
  padding-left: 5px;
}
.quest{
  border-radius: 10px;
border: 1px solid rgba(0, 0, 0, 0.85);
background: #FFF;
width: 500px;
text-align: center;
padding: 5px;
margin: 20px;
color: #000;
font-family: 'Inter';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.quest:hover{
  background-color: #084175;
  color: #fff;
}
.questions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.topics{
  color: #000;
font-family: 'Inter';
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex;
margin-bottom: 30px;
margin-right: 200px; 
}
.quest-btn-container{
  display: flex;
  gap: 400px;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.quest-btn{
  border: 1px solid #000;
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.quest-btn:hover{
  background-color: #084175;
  color: #fff;
}
.submit{
  padding-left: 70px;
}
.submit-btn{
  border-radius: 7px;
  background: #084175;
  padding: 8px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin: 80px 0px;
}
.congrats-sandra{
  width: 760px;
height: 300px;
margin: 0 auto;
flex-shrink: 0;
border-radius: 5px;
border: 2px solid rgba(0, 0, 0, 0.85);
background: #FFF;
display: flex;
justify-content: center;
align-items: center;
margin-top: 70px;
}
.congrats-sandra p{
  width: 50%;
  color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.end-section-btn{
  border-radius: 7px;
background: #084175;
padding: 10px 50px;
color: #fff;
font-size: 16px;
font-weight: bold;
}
.end-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.click-help{
  color: #1BC9D4;
font-family: 'Inter';
font-size: 16px;
padding: 6px 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex;
justify-content: flex-end;
align-items: flex-end;
cursor: pointer;
}
.Profile-and-dropwdown{
  display: flex;
  gap: 10px;
  padding-right: 40px;
}
#seek-help-profile{
  background-color: rgba(41, 45, 50, 0.70);
  /* backdrop-filter: blur(2px); */
  background-size: cover;
  height: 100vh;
}
.seek-btn{
  position: relative;
  z-index: -1;
}
.seek-navbar h1{
  color: rgba(249, 247, 247, 0.879);
  /* backdrop-filter: blur(2px); */
}
.mental-health{
  position: relative;
  z-index: -99;
}
.btn-list{
  /* border: 1px solid red; */
  border-radius: 6px;
  padding: 5px;
  position: relative;
  top: 40px;
  background-color: #084175;
  color: #fff;
  width: 100px;
  margin-left: -70px;
}
.drop-down-list{
  display: flex;
  flex-direction: column;
  gap: 2px;
  /* width: 100px; */
}
.dropdown{
  position: relative;
  /* right: -10rem; */
  outline: none;
  margin-left: 77rem;
  top: -50px;
}
@media (max-width: 400px) {
  .dropdown{
    position: relative;
    /* right: -10rem; */
    padding: 0;
    margin: 0;
    top: -50px;
    margin-left: 18rem;
  }
  .btn-list{
    /* border: 1px solid red; */
    border-radius: 6px;
    padding: 5px;
    position: relative;
    top: 22px;
    background-color: #084175;
    color: #fff;
    width: 100px;
    margin-left: -70px;
  }
  .deperssion-text{
    /* width: 320px; */
  height: 114px;
  flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
  font-family: 'Itim';
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  padding: 10px;
  }
  .quest{
    border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.85);
  background: #FFF;
  width: 250px;
  text-align: center;
  padding: 5px;
  margin: 20px;
  color: #000;
  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  .quest:hover{
    background-color: #084175;
    color: #fff;
  }
  .topics{
    margin: 0;
  }
  .quest-btn-container{
    display: flex;
    gap: 140px;
    align-items: center;
    justify-content: space-between;
  }
  .submit{
    padding-left: 30px;
  }
  .congrats-sandra{
    width: 300px;
  height: 200px;
  margin: 0 auto;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.85);
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  }
  .congrats-sandra p{
    /* width: 50%; */
    color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  .click-help{
    color: #1BC9D4;
  font-family: 'Inter';
  font-size: 16px;
  padding: 14px 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  }
  #seek-help-profile{
    background-color: rgba(41, 45, 50, 0.70);
    /* backdrop-filter: blur(2px); */
    background-size: cover;
    height: 100vh;
  }
  .click-here-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
}